.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 3.2em;
}

h2 {
  text-align: center;
  font-size: 3.2em;
}


select {
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
}